 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body, html {
  margin: 0;
  margin-bottom: 5vh;
  margin-top: 6vh;
  padding: 0;
}

#nav {
  width: 100%;
  height: 8vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  z-index: 10 !important;
}

#nav p {
  color: #adadad;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3.5vh;
  width: max-content;
  margin: 2.5vh;
  user-select: none;
}

a {
  text-decoration: none;
}

#nav p:hover {
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  margin-top: 4vh;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  color: #2f9149;
  margin-top: .5vw;
}


#map_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#map {
  width: 80vw;
  height: 60vh;
  border: 1px solid black;
  border-radius: 8px;
  z-index: 1 !important;
}

#weather_container {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 4vh;
}

#weather_container .day {
  width: 10vw;
  min-height: 20vw;
  max-height: max-content;
  border-radius: 8px;
  box-shadow: .15vw .15vw 4px black;
  text-align: center;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.day p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
  margin: .5vw;
}

.day img {
  display: block;
  width: 5vw;
  height: 5vw;
  margin: auto;
}

.day p:nth-child(1) {
  text-decoration: underline;
}

.day p:nth-child(4) {
  margin-bottom: 2vw;
}

.day p:nth-child(5),
.day p:nth-child(6) {
  font-size: 1.4vw;
}

/* MOBILE CSS */

@media only screen and (max-width: 800px) {

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 3vw;
  }

  #weather_container {
    flex-wrap: wrap;
  }

  #weather_container .day {
    width: 25vw;
    margin: 2.4vw;
  }

  .day p {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    margin: .5vw;
  }

  .day img {
    display: block;
    width: 12vw;
    height: 12vw;
    margin: auto;
  }

  .day p:nth-child(5),
  .day p:nth-child(6) {
    font-size: 3.3vw;
  }

}